<a href="https://colab.research.google.com/github/dexterrxx31/Machine-Learning/blob/main/DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
# Jovian Commit Essentials
# Please retain and execute this cell without modifying the contents for `jovian.commit` to work
!pip install jovian --upgrade -q
import jovian
jovian.set_project('datapreprocessing')
jovian.set_colab_id('1j6nf_MIISwiYSA-TDL74RllYZEL6Rsir')

In [32]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import jovian

In [33]:
#Commiting Changed to Jovian.ai
jovian.commit(message = "Initial commit" ,filename = " DataPreprocessing.ipynb", project="DataPreprocessing")

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Capturing environment..
[jovian] Committed successfully! https://jovian.ai/riyanahmad99/datapreprocessing

'https://jovian.ai/riyanahmad99/datapreprocessing'

#### Now first we need to import dataset and create a pandas dataframe .Here we have data set "Data.csv" and will use read_csv funtion of pandas.

In [53]:
dataset = pd.read_csv("./Datasets/Data.csv")
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

#### Now we have a dataframe but we need to split this data into dependent features and independent features .For slicing we can use .loc function of dataframe in pandas. Now second thing is ".value" , we used this to convert pandas dataframe to a numpy array.The last column contains an dependent features so we took this in Y and rest in X. For upcomming Notebooks and concepts I will be following same rule.

In [35]:
X = dataset.iloc[: , :-1].values
Y = dataset.iloc[: , -1].values

In [36]:
type(X)

numpy.ndarray

In [37]:
type(Y)

numpy.ndarray

In [38]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [39]:
Y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [40]:
#Commiting Changed to Jovian.ai
jovian.commit(filename = "DataPreprocessing.ipynb", project="DataPreprocessing")

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Capturing environment..
[jovian] Committed successfully! https://jovian.ai/riyanahmad99/datapreprocessing

'https://jovian.ai/riyanahmad99/datapreprocessing'

## Dealing with Misssing Values

  * We will be using Scikit Learning here for Handling missing values. 
 * We will import a class from Scilearn called "Simple Imputer" in Imputer.
 * " .fit " connects feature X with instance of class imputer . It takes only those rows with have numerical data that is why we applied slicing in out data.
 * " .transform fill missing values in X with means of others and return numpy array .
 * We updated our X features to get now missing values filled.

##### Why do you need to this imputer?
##### Answer: For various reasons, many real world datasets contain missing values, often encoded as blanks, NaNs or other placeholders. Such datasets however are incompatible with scikit-learn estimators which assume that all values in an array are numerical, and that all have and hold meaning. A basic strategy to use incomplete datasets is to discard entire rows and/or columns containing missing values. However, this comes at the price of losing data which may be valuable (even though incomplete). A better strategy is to impute the missing values, i.e., to infer them from the known part of the data.

In [48]:
from sklearn.impute import SimpleImputer

In [49]:
imputer = SimpleImputer(missing_values = np.nan , strategy = "mean")

In [50]:
imputer.fit(X[: ,1:3])

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='mean', verbose=0)

In [51]:
X[ : ,1:3 ] = imputer.transform(X[ : , 1:3])

In [52]:
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [47]:
jovian.commit(filename = "DataPreprocessing.ipynb", project="DataPreprocessing")

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Capturing environment..
[jovian] Committed successfully! https://jovian.ai/riyanahmad99/datapreprocessing

'https://jovian.ai/riyanahmad99/datapreprocessing'

### Referances
* scikit-learn.org
* jovian.ai