In [19]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import jovian

In [20]:
#Commiting Changed to Jovian.ai
jovian.commit(message = "Initial commit" ,filename = " DataPreprocessing.ipynb", project="DataPreprocessing")

[jovian] Attempting to save notebook..

[jovian] Error: Failed to read the Jupyter notebook. Please re-run this cell to try again. If the issue persists, provide the "filename" argument to "jovian.commit" e.g. "jovian.commit(filename='my-notebook.ipynb')"

#### Now first we need to import dataset and create a pandas dataframe .Here we have data set "Data.csv" and will use read_csv funtion of pandas.

In [21]:
dataset = pd.read_csv("Datasets/Data.csv")
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

#### Now we have a dataframe but we need to split this data into dependent features and independent features .For slicing we can use .loc function of dataframe in pandas. Now second thing is ".value" , we used this to convert pandas dataframe to a numpy array.The last column contains an dependent features so we took this in Y and rest in X. For upcomming Notebooks and concepts I will be following same rule.

In [22]:
X = dataset.iloc[: , :-1].values
Y = dataset.iloc[: , -1].values

In [23]:
type(X)

numpy.ndarray

In [24]:
type(Y)

numpy.ndarray

In [25]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [26]:
Y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [27]:
#Commiting Changed to Jovian.ai
jovian.commit(filename = "DataPreprocessing.ipynb", project="DataPreprocessing")

[jovian] Attempting to save notebook..
[jovian] Updating notebook "riyanahmad99/datapreprocessing" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Capturing environment..

[jovian] Error: Failed to read Anaconda environment using command: "conda env export -n base --no-builds"

[jovian] Committed successfully! https://jovian.ai/riyanahmad99/datapreprocessing

'https://jovian.ai/riyanahmad99/datapreprocessing'

## Dealing with Misssing Values

  * We will be using Scikit Learning here for Machine Learning Models. 
 * We will import a class from Scilearn called "Simple Imputer" in Imputer.
 * " .fit " connects feature X with instance of class imputer . It takes only those rows with have numerical data that is why we applied slicing in out data.
 * " .transform fill missing values in X with means of others and return numpy array .
 * We updated our X features to get now missing values filled.

In [28]:
from sklearn.impute import SimpleImputer

In [34]:
imputer = SimpleImputer(missing_values = np.nan , strategy = "mean")

In [35]:
imputer.fit(X[: ,1:3])

SimpleImputer()

In [36]:
X[ : ,1:3 ] = imputer.transform(X[ : , 1:3])

In [38]:
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]